.toggle-alphabet li:first-child, .cond-toggle-alphabet li:first-child
{
	margin-left: 14px;
}

.toggle-alphabet li a, .cond-toggle-alphabet li a
{
	padding: 6px 11px;
}

#main-site h1
{
	font-size: 3.75rem;
}

#main-site h2
{
	font-size: 2rem;
}

#main-site #contact ul
{
	font-size: 16px;
}